<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <title>Daftar Kelas</title> 
    </head>
    <body>
        <div layout:fragment="content">

            <h1>Daftar Kelas</h1>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><a class="sorted" sd:pagination-sort="kode" >Nama Kelas</a></th>
                        <th>Instruktur</th>
                        <th><a class="sorted" sd:pagination-sort="tanggalMulai" >Tanggal Mulai</a></th>
                        <th>Tanggal Selesai</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="k : ${daftarKelas}">
                        <td th:text="${k.kode} + ' - '+ ${k.nama}">K-001 : Kelas 001</td>
                        <td th:text="${k.instruktur.nama}">Endy Muhardin</td>
                        <td th:text="${k.tanggalMulai}">2017-01-01</td>
                        <td th:text="${k.tanggalSelesai}">2017-01-20</td>
                        <td>
                            <a href="#" th:href="@{/kelas/detail(id=${k.id})}" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                detail
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <div sd:pagination-summary="">info</div>
                </div>
                <div class="col-sm-6">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>
