<h1>Input Peserta</h1>

Debug :
<ul>
	<li>Nama : {{ peserta.nama }}</li>
	<li>Email : {{ peserta.email }}</li>
	<li>Nomor Handphone : {{ peserta.nomorHandphone }}</li>
	<li>Tanggal Lahir : {{ peserta.tanggalLahir }}</li>
</ul>



<form class="form-horizontal">
	<div class="form-group">
		<label for="nama" class="col-sm-2 control-label">Nama</label>
		<div class="col-sm-10">
			<input type="text"
			[(ngModel)]="peserta.nama"
			name="nama" class="form-control" id="nama" placeholder="Nama Peserta">
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input [(ngModel)]="peserta.email" name="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="nomorHandphone" class="col-sm-2 control-label">Nomor Handphone</label>
		<div class="col-sm-10">
			<input type="text"
[(ngModel)]="peserta.nomorHandphone"
			name="nomorHandphone" class="form-control" id="nomorHandphone" placeholder="081234567890">
		</div>
	</div>
	<div class="form-group">
		<label for="tanggalLahir" class="col-sm-2 control-label">Tanggal Lahir</label>
		<div class="col-sm-10">
			<input type="text"
[(ngModel)]="peserta.tanggalLahir"  name="tanggalLahir" class="form-control" id="tanggalLahir" placeholder="yyyy-MM-dd">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" (click)="simpan()" >Simpan</button>
		</div>
	</div>
</form>
